<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <script>
        const hour= new Date().getHours();
    
        let name = prompt("Bitte name hier")
    
        document.write(hour);
    
    
    if (hour < 5) {
        alert(`Gute Nacht ${name}`);
      } else if (hour < 12) {
        alert(`Guten Morgen ${name}`);
      } else if (hour < 18) {
        alert(`Guten Tag ${name}`);
      } else if (hour < 22) {
        alert(`Guten Abend ${name}`);
      } else {
        alert(`Gute Nacht ${name}`);
      }
    
    </script>
    
</body>
</html>